:javascript
  $(document).ready(function() {
    $("#tabs").tabs();
  });
  
  

#tabs
  %ul
    %li
      %a{:href=>"#makeup"}
        %span
          Councillors
    %li
      %a{:href=>"#stats"}
        %span
          Stats
    %li
      %a{:href=>"#performance"}
        %span
          Performance
  #makeup
    %h2
      Councillors
    - if @council.members
      #members
        - @council.members.each do |member|
          .member{:id=>"member_#{member["id"]}"}
            %h3
              %a{:href=>"#", :onclick=>"$('#member_display').load('/members/" + member['id'].to_s + "'); return false;"}= "#{member["first_name"]} #{member["last_name"]}"
            %small
              = member["party"]["name"]
              |
              = member["ward"]["name"]
      #member_display
    - else
      %p
        Sorry, we don't have any information on the councillors for this council.
  #stats
    %h2
      Stats
  #performance
    %h2
      Performance
    
    %h3
      From an independent review by 
      %a{:href=>@council.performance_url} oneplace
        
    = @council.performance