:javascript
  $(document).ready(function() {
    $("#tabs").tabs();
  });
  
  

#tabs
  %ul
    - if @council.members
      %li
        %a{:href=>"#makeup"}
          %span
            Councillors
    - unless @council.stats.blank?
      %li
        %a{:href=>"#stats"}
          %span
            Stats
    - if @council.performance
      %li
        %a{:href=>"#performance"}
          %span
            Performance
    - unless @council.ons_datasets.blank?
      %li
        %a{:href=>"#datasets"}
          %span
            Datasets
            
  - if @council.members
    #makeup
      %h2
        Councillors
    
      #members
        - @council.members.each do |member|
          .member{:id=>"member_#{member["id"]}"}
            %h3
              %a{:href=>"#", :onclick=>"$('#member_display').load('/members/" + member['id'].to_s + "'); return false;"}= "#{member["first_name"]} #{member["last_name"]}"
            %small
              = member["party"]["name"]
              |
              = member["ward"]["name"]
      #member_display

  - unless @council.stats.blank?
    #stats
      %h2
        Stats
      %h3
        %a{:href=>@council.profile_url} From OpenlyLocal
      = @council.stats
  - if @council.performance
    #performance
      %h2
        Performance
      - if @council.performance_url
        %h3
          From an independent review by 
          %a{:href=>@council.performance_url} oneplace
        
        = @council.performance
  - unless @council.ons_datasets.blank?
    #stats
      %h2
        Datasets
      %h3
        %a{:href=>@council.ons_url} From ONS
      = @council.ons_datasets