= "<!DOCTYPE html>"
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= @page_title
    
    %meta{:charset => "utf-8"}/
    %meta{:name => "MSSmartTagsPreventParsing", :content => "true"}/
    
    %script{:src => "/js/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery-ui-1.8.1.custom.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.clear_search.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.cycle.min.js", :type => "text/javascript"}

    %link{:href => "/css/screen.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    %link{:href => "/jqcss/ui-lightness/jquery-ui-1.8.1.custom.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    
    :javascript
      var help_me_do_something;
      
      $(function() {
        $('.slideshow').cycle({ fx: 'fade' });
           
        function log(message) {
          $("<div/>").text(message).prependTo("#log");
          $("#log").attr("scrollTop", 0);
        }
        $("#spinner").hide();
        $("#something").autocomplete({
          source: "/councils/#{@council.id}/suggest",
          minLength: 2,
          search: function(event, ui) { 
            $('#spinner').show();
          },
          open: function(event, ui) {
            $('#spinner').hide();
          },
          select: function(event, ui) {
            $('#spinner').hide();
            help_me_do_something = ui.item;
            log(ui.item ? ("Selected: " + ui.item.label + " : " + ui.item.value) : "Nothing selected, input was " + this.value);
            
          }
        });
      });
    
  %body
    %div#page
      - if flash.has?(:errors)
        %div#message
          - flash[:errors].each do |message|
            = succeed "." do
              = message
        
      %nav#masthead
        %div#diycouncil
          %p
            %a{:href => "/", :class => "logo"} DIY 
            - if @council
              %img{:src=>"#{@council["url"]}/favicon.ico"}
              %a{:href=> "/councils/#{@council.id}"}
                = @council["name"]
            - else
              Council
            %span#about_this_site
              is an experiment in open local government
          
        - if @council
          %ul#common_main_menu
            %li
              %a{:href=>"/councils/#{@council.id}/near_me"}
            %li
              %a{:href=>"/councils/#{@council.id}/contact"}

      %div#content 
        - if @council
          %form#do_something{:action=>"/councils/#{@council.id}/page", :method=>:get}
            %label{:for=>"url"}
              %span
                Show me
              %input{:type=>"text",:size=>"48", :name=>"url", :id=>"something", :value=>"something I'd like to know about"}
              %img{:src=>"/ajax-loader.gif", :id=>"spinner"}
              %button{:type=>"submit", :name=>"please"}
                %span please
              %span#try
                Try "council tax", "libraries", "park"...
        %div#main_content
          = yield
      
      %div#log
      
      %footer#credits
        %p 
          Mashed by 
          %a{:href=>"http://stef.io"} Stef
          and friends using open source things:
          %a{:href=>"http://www.ruby-lang.org/"} Ruby
          %a{:href=>"http://openlylocal.com"} Openly Local
          %a{:href=>"http://sinatrarb.com"} Sinatra
