= "<!DOCTYPE html>"
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= @page_title
    
    %meta{:charset => "utf-8"}/
    %meta{:name => "MSSmartTagsPreventParsing", :content => "true"}/
    
    %script{:src => "/js/jquery.js", :type => "text/javascript"}
    %link{:href => "/css/screen.css", :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}/
    
  %body
    %div#page
      - if flash.has?(:errors)
        %div#message
          - flash[:errors].each do |message|
            = succeed "." do
              = message
        
      %nav#masthead
        %div#diycouncil
          %p
            %a{:href => "/", :class => "logo"} DIY 
            - if @council
              = @council["name"]
            - else
              Council
            %span#about_this_site
              an experiment in open local government
        
     
      %div#content
        - if @services
          %nav#services
            %ul
              - @services.each do |service|
                %li
                  %a{:href => "/councils/#{@council["id"]}/services/#{service["id"]}"}
                    = service["title"]
                      
        = yield
      
      %footer#credits
        %p 
          Mashed by 
          %a{:href=>"http://stef.io"} Stef
          and friends using open source things:
          %a{:href=>"http://www.ruby-lang.org/"} Ruby
          %a{:href=>"http://openlylocal.com"} Openly Local
          %a{:href=>"http://sinatrarb.com"} Sinatra
