%h2
  = @member["first_name"]
  = @member["last_name"]

%dl
  %dt
    Ward
  %dd
    = @member["ward"]["name"]
  %dt
    Party
  %dd
    = @member["party"]["name"]
  %dt.email
    Email
  %dd
    %a{:href=>"mailto:#{@member["email"]}"}= @member["email"]
  %dt
    Telephone
  %dd.telephone
    = @member["telephone"]
  %dt
    Address
  %dd
    = @member["address"]
  - if @member["blog_url"]
    %dt
      Blog
    %dd
      %a{:href=>@member["blog_url"]}= @member["blog_url"]
  %dt
    Full profile
  %dd
    %a{:href=>"http://openlylocal.com/members/#{@member["id"]}"} 
      = @member["first_name"]
      = @member["first_name"]
      on OpenlyLocal